.roundList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 10px;  
  }
  
  .roundWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    width: 50%;
  }
  
  .roundWrapper:hover {
    border-color: brown;
  }
  
  .selected {
    border: 1px solid #1317f3;
    background-color: red;
  }
  
  .horizontalContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap: 50px;  
    margin-bottom: 10px;
  }
  
  
  
  .roundButton {
    background-color: brown;
    border: 2px solid red;
    border-radius: 50%;
    width: 40px;  
    height: 40px;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .innerNumber {
    font-size: 18px;
    color: yellow;
    font-weight: bold;
  }
  
  .secondNumber {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  
  .inputField {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 120px; 
  }
   
  